/*

🔴🔴🔴🔴🔴🔴🔴
width & height 
wf = width 100%
hf = width 100%
w1 - w100 = %
W1 - W700 = px
...............
h1 - h100 = %
H1 - H700 = px
🔴🔴🔴🔴🔴🔴🔴

*/
/* Width percentage classes (w) */
.wf{width: 100%;}
.hf{height: 100%;}
.w1 { width: 1%; }
.w2 { width: 2%; }
.w3 { width: 3%; }
.w4 { width: 4%; }
.w5 { width: 5%; }
.w6 { width: 6%; }
.w7 { width: 7%; }
.w8 { width: 8%; }
.w9 { width: 9%; }
.w10 { width: 10%; }
.w11 { width: 11%; }
.w12 { width: 12%; }
.w13 { width: 13%; }
.w14 { width: 14%; }
.w15 { width: 15%; }
.w16 { width: 16%; }
.w17 { width: 17%; }
.w18 { width: 18%; }
.w19 { width: 19%; }
.w20 { width: 20%; }
.w21 { width: 21%; }
.w22 { width: 22%; }
.w23 { width: 23%; }
.w24 { width: 24%; }
.w25 { width: 25%; }
.w26 { width: 26%; }
.w27 { width: 27%; }
.w28 { width: 28%; }
.w29 { width: 29%; }
.w30 { width: 30%; }
.w31 { width: 31%; }
.w32 { width: 32%; }
.w33 { width: 33%; }
.w34 { width: 34%; }
.w35 { width: 35%; }
.w36 { width: 36%; }
.w37 { width: 37%; }
.w38 { width: 38%; }
.w39 { width: 39%; }
.w40 { width: 40%; }
.w41 { width: 41%; }
.w42 { width: 42%; }
.w43 { width: 43%; }
.w44 { width: 44%; }
.w45 { width: 45%; }
.w46 { width: 46%; }
.w47 { width: 47%; }
.w48 { width: 48%; }
.w49 { width: 49%; }
.w50 { width: 50%; }
.w51 { width: 51%; }
.w52 { width: 52%; }
.w53 { width: 53%; }
.w54 { width: 54%; }
.w55 { width: 55%; }
.w56 { width: 56%; }
.w57 { width: 57%; }
.w58 { width: 58%; }
.w59 { width: 59%; }
.w60 { width: 60%; }
.w61 { width: 61%; }
.w62 { width: 62%; }
.w63 { width: 63%; }
.w64 { width: 64%; }
.w65 { width: 65%; }
.w66 { width: 66%; }
.w67 { width: 67%; }
.w68 { width: 68%; }
.w69 { width: 69%; }
.w70 { width: 70%; }
.w71 { width: 71%; }
.w72 { width: 72%; }
.w73 { width: 73%; }
.w74 { width: 74%; }
.w75 { width: 75%; }
.w76 { width: 76%; }
.w77 { width: 77%; }
.w78 { width: 78%; }
.w79 { width: 79%; }
.w80 { width: 80%; }
.w81 { width: 81%; }
.w82 { width: 82%; }
.w83 { width: 83%; }
.w84 { width: 84%; }
.w85 { width: 85%; }
.w86 { width: 86%; }
.w87 { width: 87%; }
.w88 { width: 88%; }
.w89 { width: 89%; }
.w90 { width: 90%; }
.w91 { width: 91%; }
.w92 { width: 92%; }
.w93 { width: 93%; }
.w94 { width: 94%; }
.w95 { width: 95%; }
.w96 { width: 96%; }
.w97 { width: 97%; }
.w98 { width: 98%; }
.w99 { width: 99%; }

/* Width pixel classes (W) */
.W1 { width: 1px; }
.W2 { width: 2px; }
.W3 { width: 3px; }
.W4 { width: 4px; }
.W5 { width: 5px; }
.W6 { width: 6px; }
.W7 { width: 7px; }
.W8 { width: 8px; }
.W9 { width: 9px; }
.W10 { width: 10px; }
.W11 { width: 11px; }
.W12 { width: 12px; }
.W13 { width: 13px; }
.W14 { width: 14px; }
.W15 { width: 15px; }
.W16 { width: 16px; }
.W17 { width: 17px; }
.W18 { width: 18px; }
.W19 { width: 19px; }
.W20 { width: 20px; }
.W21 { width: 21px; }
.W22 { width: 22px; }
.W23 { width: 23px; }
.W24 { width: 24px; }
.W25 { width: 25px; }
.W26 { width: 26px; }
.W27 { width: 27px; }
.W28 { width: 28px; }
.W29 { width: 29px; }
.W30 { width: 30px; }
.W31 { width: 31px; }
.W32 { width: 32px; }
.W33 { width: 33px; }
.W34 { width: 34px; }
.W35 { width: 35px; }
.W36 { width: 36px; }
.W37 { width: 37px; }
.W38 { width: 38px; }
.W39 { width: 39px; }
.W40 { width: 40px; }
.W41 { width: 41px; }
.W42 { width: 42px; }
.W43 { width: 43px; }
.W44 { width: 44px; }
.W45 { width: 45px; }
.W46 { width: 46px; }
.W47 { width: 47px; }
.W48 { width: 48px; }
.W49 { width: 49px; }
.W50 { width: 50px; }
.W51 { width: 51px; }
.W52 { width: 52px; }
.W53 { width: 53px; }
.W54 { width: 54px; }
.W55 { width: 55px; }
.W56 { width: 56px; }
.W57 { width: 57px; }
.W58 { width: 58px; }
.W59 { width: 59px; }
.W60 { width: 60px; }
.W61 { width: 61px; }
.W62 { width: 62px; }
.W63 { width: 63px; }
.W64 { width: 64px; }
.W65 { width: 65px; }
.W66 { width: 66px; }
.W67 { width: 67px; }
.W68 { width: 68px; }
.W69 { width: 69px; }
.W70 { width: 70px; }
.W71 { width: 71px; }
.W72 { width: 72px; }
.W73 { width: 73px; }
.W74 { width: 74px; }
.W75 { width: 75px; }
.W76 { width: 76px; }
.W77 { width: 77px; }
.W78 { width: 78px; }
.W79 { width: 79px; }
.W80 { width: 80px; }
.W81 { width: 81px; }
.W82 { width: 82px; }
.W83 { width: 83px; }
.W84 { width: 84px; }
.W85 { width: 85px; }
.W86 { width: 86px; }
.W87 { width: 87px; }
.W88 { width: 88px; }
.W89 { width: 89px; }
.W90 { width: 90px; }
.W91 { width: 91px; }
.W92 { width: 92px; }
.W93 { width: 93px; }
.W94 { width: 94px; }
.W95 { width: 95px; }
.W96 { width: 96px; }
.W97 { width: 97px; }
.W98 { width: 98px; }
.W99 { width: 99px; }
.W100 { width: 100px; }
.W101 { width: 101px; }
.W102 { width: 102px; }
.W103 { width: 103px; }
.W104 { width: 104px; }
.W105 { width: 105px; }
.W106 { width: 106px; }
.W107 { width: 107px; }
.W108 { width: 108px; }
.W109 { width: 109px; }
.W110 { width: 110px; }
.W111 { width: 111px; }
.W112 { width: 112px; }
.W113 { width: 113px; }
.W114 { width: 114px; }
.W115 { width: 115px; }
.W116 { width: 116px; }
.W117 { width: 117px; }
.W118 { width: 118px; }
.W119 { width: 119px; }
.W120 { width: 120px; }
.W121 { width: 121px; }
.W122 { width: 122px; }
.W123 { width: 123px; }
.W124 { width: 124px; }
.W125 { width: 125px; }
.W126 { width: 126px; }
.W127 { width: 127px; }
.W128 { width: 128px; }
.W129 { width: 129px; }
.W130 { width: 130px; }
.W131 { width: 131px; }
.W132 { width: 132px; }
.W133 { width: 133px; }
.W134 { width: 134px; }
.W135 { width: 135px; }
.W136 { width: 136px; }
.W137 { width: 137px; }
.W138 { width: 138px; }
.W139 { width: 139px; }
.W140 { width: 140px; }
.W141 { width: 141px; }
.W142 { width: 142px; }
.W143 { width: 143px; }
.W144 { width: 144px; }
.W145 { width: 145px; }
.W146 { width: 146px; }
.W147 { width: 147px; }
.W148 { width: 148px; }
.W149 { width: 149px; }
.W150 { width: 150px; }
.W151 { width: 151px; }
.W152 { width: 152px; }
.W153 { width: 153px; }
.W154 { width: 154px; }
.W155 { width: 155px; }
.W156 { width: 156px; }
.W157 { width: 157px; }
.W158 { width: 158px; }
.W159 { width: 159px; }
.W160 { width: 160px; }
.W161 { width: 161px; }
.W162 { width: 162px; }
.W163 { width: 163px; }
.W164 { width: 164px; }
.W165 { width: 165px; }
.W166 { width: 166px; }
.W167 { width: 167px; }
.W168 { width: 168px; }
.W169 { width: 169px; }
.W170 { width: 170px; }
.W171 { width: 171px; }
.W172 { width: 172px; }
.W173 { width: 173px; }
.W174 { width: 174px; }
.W175 { width: 175px; }
.W176 { width: 176px; }
.W177 { width: 177px; }
.W178 { width: 178px; }
.W179 { width: 179px; }
.W180 { width: 180px; }
.W181 { width: 181px; }
.W182 { width: 182px; }
.W183 { width: 183px; }
.W184 { width: 184px; }
.W185 { width: 185px; }
.W186 { width: 186px; }
.W187 { width: 187px; }
.W188 { width: 188px; }
.W189 { width: 189px; }
.W190 { width: 190px; }
.W191 { width: 191px; }
.W192 { width: 192px; }
.W193 { width: 193px; }
.W194 { width: 194px; }
.W195 { width: 195px; }
.W196 { width: 196px; }
.W197 { width: 197px; }
.W198 { width: 198px; }
.W199 { width: 199px; }
.W200 { width: 200px; }
.W201 { width: 201px; }
.W202 { width: 202px; }
.W203 { width: 203px; }
.W204 { width: 204px; }
.W205 { width: 205px; }
.W206 { width: 206px; }
.W207 { width: 207px; }
.W208 { width: 208px; }
.W209 { width: 209px; }
.W210 { width: 210px; }
.W211 { width: 211px; }
.W212 { width: 212px; }
.W213 { width: 213px; }
.W214 { width: 214px; }
.W215 { width: 215px; }
.W216 { width: 216px; }
.W217 { width: 217px; }
.W218 { width: 218px; }
.W219 { width: 219px; }
.W220 { width: 220px; }
.W221 { width: 221px; }
.W222 { width: 222px; }
.W223 { width: 223px; }
.W224 { width: 224px; }
.W225 { width: 225px; }
.W226 { width: 226px; }
.W227 { width: 227px; }
.W228 { width: 228px; }
.W229 { width: 229px; }
.W230 { width: 230px; }
.W231 { width: 231px; }
.W232 { width: 232px; }
.W233 { width: 233px; }
.W234 { width: 234px; }
.W235 { width: 235px; }
.W236 { width: 236px; }
.W237 { width: 237px; }
.W238 { width: 238px; }
.W239 { width: 239px; }
.W240 { width: 240px; }
.W241 { width: 241px; }
.W242 { width: 242px; }
.W243 { width: 243px; }
.W244 { width: 244px; }
.W245 { width: 245px; }
.W246 { width: 246px; }
.W247 { width: 247px; }
.W248 { width: 248px; }
.W249 { width: 249px; }
.W250 { width: 250px; }
.W251 { width: 251px; }
.W252 { width: 252px; }
.W253 { width: 253px; }
.W254 { width: 254px; }
.W255 { width: 255px; }
.W256 { width: 256px; }
.W257 { width: 257px; }
.W258 { width: 258px; }
.W259 { width: 259px; }
.W260 { width: 260px; }
.W261 { width: 261px; }
.W262 { width: 262px; }
.W263 { width: 263px; }
.W264 { width: 264px; }
.W265 { width: 265px; }
.W266 { width: 266px; }
.W267 { width: 267px; }
.W268 { width: 268px; }
.W269 { width: 269px; }
.W270 { width: 270px; }
.W271 { width: 271px; }
.W272 { width: 272px; }
.W273 { width: 273px; }
.W274 { width: 274px; }
.W275 { width: 275px; }
.W276 { width: 276px; }
.W277 { width: 277px; }
.W278 { width: 278px; }
.W279 { width: 279px; }
.W280 { width: 280px; }
.W281 { width: 281px; }
.W282 { width: 282px; }
.W283 { width: 283px; }
.W284 { width: 284px; }
.W285 { width: 285px; }
.W286 { width: 286px; }
.W287 { width: 287px; }
.W288 { width: 288px; }
.W289 { width: 289px; }
.W290 { width: 290px; }
.W291 { width: 291px; }
.W292 { width: 292px; }
.W293 { width: 293px; }
.W294 { width: 294px; }
.W295 { width: 295px; }
.W296 { width: 296px; }
.W297 { width: 297px; }
.W298 { width: 298px; }
.W299 { width: 299px; }
.W300 { width: 300px; }
.W301 { width: 301px; }
.W302 { width: 302px; }
.W303 { width: 303px; }
.W304 { width: 304px; }
.W305 { width: 305px; }
.W306 { width: 306px; }
.W307 { width: 307px; }
.W308 { width: 308px; }
.W309 { width: 309px; }
.W310 { width: 310px; }
.W311 { width: 311px; }
.W312 { width: 312px; }
.W313 { width: 313px; }
.W314 { width: 314px; }
.W315 { width: 315px; }
.W316 { width: 316px; }
.W317 { width: 317px; }
.W318 { width: 318px; }
.W319 { width: 319px; }
.W320 { width: 320px; }
.W321 { width: 321px; }
.W322 { width: 322px; }
.W323 { width: 323px; }
.W324 { width: 324px; }
.W325 { width: 325px; }
.W326 { width: 326px; }
.W327 { width: 327px; }
.W328 { width: 328px; }
.W329 { width: 329px; }
.W330 { width: 330px; }
.W331 { width: 331px; }
.W332 { width: 332px; }
.W333 { width: 333px; }
.W334 { width: 334px; }
.W335 { width: 335px; }
.W336 { width: 336px; }
.W337 { width: 337px; }
.W338 { width: 338px; }
.W339 { width: 339px; }
.W340 { width: 340px; }
.W341 { width: 341px; }
.W342 { width: 342px; }
.W343 { width: 343px; }
.W344 { width: 344px; }
.W345 { width: 345px; }
.W346 { width: 346px; }
.W347 { width: 347px; }
.W348 { width: 348px; }
.W349 { width: 349px; }
.W350 { width: 350px; }
.W351 { width: 351px; }
.W352 { width: 352px; }
.W353 { width: 353px; }
.W354 { width: 354px; }
.W355 { width: 355px; }
.W356 { width: 356px; }
.W357 { width: 357px; }
.W358 { width: 358px; }
.W359 { width: 359px; }
.W360 { width: 360px; }
.W361 { width: 361px; }
.W362 { width: 362px; }
.W363 { width: 363px; }
.W364 { width: 364px; }
.W365 { width: 365px; }
.W366 { width: 366px; }
.W367 { width: 367px; }
.W368 { width: 368px; }
.W369 { width: 369px; }
.W370 { width: 370px; }
.W371 { width: 371px; }
.W372 { width: 372px; }
.W373 { width: 373px; }
.W374 { width: 374px; }
.W375 { width: 375px; }
.W376 { width: 376px; }
.W377 { width: 377px; }
.W378 { width: 378px; }
.W379 { width: 379px; }
.W380 { width: 380px; }
.W381 { width: 381px; }
.W382 { width: 382px; }
.W383 { width: 383px; }
.W384 { width: 384px; }
.W385 { width: 385px; }
.W386 { width: 386px; }
.W387 { width: 387px; }
.W388 { width: 388px; }
.W389 { width: 389px; }
.W390 { width: 390px; }
.W391 { width: 391px; }
.W392 { width: 392px; }
.W393 { width: 393px; }
.W394 { width: 394px; }
.W395 { width: 395px; }
.W396 { width: 396px; }
.W397 { width: 397px; }
.W398 { width: 398px; }
.W399 { width: 399px; }
.W400 { width: 400px; }
.W401 { width: 401px; }
.W402 { width: 402px; }
.W403 { width: 403px; }
.W404 { width: 404px; }
.W405 { width: 405px; }
.W406 { width: 406px; }
.W407 { width: 407px; }
.W408 { width: 408px; }
.W509 { width: 509px; }
.W510 { width: 510px; }
.W511 { width: 511px; }
.W512 { width: 512px; }
.W513 { width: 513px; }
.W514 { width: 514px; }
.W515 { width: 515px; }
.W516 { width: 516px; }
.W517 { width: 517px; }
.W518 { width: 518px; }
.W519 { width: 519px; }
.W520 { width: 520px; }
.W521 { width: 521px; }
.W522 { width: 522px; }
.W523 { width: 523px; }
.W524 { width: 524px; }
.W525 { width: 525px; }
.W526 { width: 526px; }
.W527 { width: 527px; }
.W528 { width: 528px; }
.W529 { width: 529px; }
.W530 { width: 530px; }
.W531 { width: 531px; }
.W532 { width: 532px; }
.W533 { width: 533px; }
.W534 { width: 534px; }
.W535 { width: 535px; }
.W536 { width: 536px; }
.W537 { width: 537px; }
.W538 { width: 538px; }
.W539 { width: 539px; }
.W540 { width: 540px; }
.W541 { width: 541px; }
.W542 { width: 542px; }
.W543 { width: 543px; }
.W544 { width: 544px; }
.W545 { width: 545px; }
.W546 { width: 546px; }
.W547 { width: 547px; }
.W548 { width: 548px; }
.W549 { width: 549px; }
.W550 { width: 550px; }
.W551 { width: 551px; }
.W552 { width: 552px; }
.W553 { width: 553px; }
.W554 { width: 554px; }
.W555 { width: 555px; }
.W556 { width: 556px; }
.W557 { width: 557px; }
.W558 { width: 558px; }
.W559 { width: 559px; }
.W560 { width: 560px; }
.W561 { width: 561px; }
.W562 { width: 562px; }
.W563 { width: 563px; }
.W564 { width: 564px; }
.W565 { width: 565px; }
.W566 { width: 566px; }
.W567 { width: 567px; }
.W568 { width: 568px; }
.W569 { width: 569px; }
.W570 { width: 570px; }
.W571 { width: 571px; }
.W572 { width: 572px; }
.W573 { width: 573px; }
.W574 { width: 574px; }
.W575 { width: 575px; }
.W576 { width: 576px; }
.W577 { width: 577px; }
.W578 { width: 578px; }
.W579 { width: 579px; }
.W580 { width: 580px; }
.W581 { width: 581px; }
.W582 { width: 582px; }
.W583 { width: 583px; }
.W584 { width: 584px; }
.W585 { width: 585px; }
.W586 { width: 586px; }
.W587 { width: 587px; }
.W588 { width: 588px; }
.W589 { width: 589px; }
.W590 { width: 590px; }
.W591 { width: 591px; }
.W592 { width: 592px; }
.W593 { width: 593px; }
.W594 { width: 594px; }
.W595 { width: 595px; }
.W596 { width: 596px; }
.W597 { width: 597px; }
.W598 { width: 598px; }
.W599 { width: 599px; }
.W600 { width: 600px; }
.W601 { width: 601px; }
.W602 { width: 602px; }
.W603 { width: 603px; }
.W604 { width: 604px; }
.W605 { width: 605px; }
.W606 { width: 606px; }
.W607 { width: 607px; }
.W608 { width: 608px; }
.W609 { width: 609px; }
.W610 { width: 610px; }
.W611 { width: 611px; }
.W612 { width: 612px; }
.W613 { width: 613px; }
.W614 { width: 614px; }
.W615 { width: 615px; }
.W616 { width: 616px; }
.W617 { width: 617px; }
.W618 { width: 618px; }
.W619 { width: 619px; }
.W620 { width: 620px; }
.W621 { width: 621px; }
.W622 { width: 622px; }
.W623 { width: 623px; }
.W624 { width: 624px; }
.W625 { width: 625px; }
.W626 { width: 626px; }
.W627 { width: 627px; }
.W628 { width: 628px; }
.W629 { width: 629px; }
.W630 { width: 630px; }
.W631 { width: 631px; }
.W632 { width: 632px; }
.W633 { width: 633px; }
.W634 { width: 634px; }
.W635 { width: 635px; }
.W636 { width: 636px; }
.W637 { width: 637px; }
.W638 { width: 638px; }
.W639 { width: 639px; }
.W640 { width: 640px; }
.W641 { width: 641px; }
.W642 { width: 642px; }
.W643 { width: 643px; }
.W644 { width: 644px; }
.W645 { width: 645px; }
.W646 { width: 646px; }
.W647 { width: 647px; }
.W648 { width: 648px; }
.W649 { width: 649px; }
.W650 { width: 650px; }
.W651 { width: 651px; }
.W652 { width: 652px; }
.W653 { width: 653px; }
.W654 { width: 654px; }
.W655 { width: 655px; }
.W656 { width: 656px; }
.W657 { width: 657px; }
.W658 { width: 658px; }
.W659 { width: 659px; }
.W660 { width: 660px; }
.W661 { width: 661px; }
.W662 { width: 662px; }
.W663 { width: 663px; }
.W664 { width: 664px; }
.W665 { width: 665px; }
.W666 { width: 666px; }
.W667 { width: 667px; }
.W668 { width: 668px; }
.W669 { width: 669px; }
.W670 { width: 670px; }
.W671 { width: 671px; }
.W672 { width: 672px; }
.W673 { width: 673px; }
.W674 { width: 674px; }
.W675 { width: 675px; }
.W676 { width: 676px; }
.W677 { width: 677px; }
.W678 { width: 678px; }
.W679 { width: 679px; }
.W680 { width: 680px; }
.W681 { width: 681px; }
.W682 { width: 682px; }
.W683 { width: 683px; }
.W684 { width: 684px; }
.W685 { width: 685px; }
.W686 { width: 686px; }
.W687 { width: 687px; }
.W688 { width: 688px; }
.W689 { width: 689px; }
.W690 { width: 690px; }
.W691 { width: 691px; }
.W692 { width: 692px; }
.W693 { width: 693px; }
.W694 { width: 694px; }
.W695 { width: 695px; }
.W696 { width: 696px; }
.W697 { width: 697px; }
.W698 { width: 698px; }
.W699 { width: 699px; }
.W700 { width: 700px; }

/* Height percentage classes (h) */
.h1 { height: 1%; }
.h2 { height: 2%; }
.h3 { height: 3%; }
.h4 { height: 4%; }
.h5 { height: 5%; }
.h6 { height: 6%; }
.h7 { height: 7%; }
.h8 { height: 8%; }
.h9 { height: 9%; }
.h10 { height: 10%; }
.h11 { height: 11%; }
.h12 { height: 12%; }
.h13 { height: 13%; }
.h14 { height: 14%; }
.h15 { height: 15%; }
.h16 { height: 16%; }
.h17 { height: 17%; }
.h18 { height: 18%; }
.h19 { height: 19%; }
.h20 { height: 20%; }
.h21 { height: 21%; }
.h22 { height: 22%; }
.h23 { height: 23%; }
.h24 { height: 24%; }
.h25 { height: 25%; }
.h26 { height: 26%; }
.h27 { height: 27%; }
.h28 { height: 28%; }
.h29 { height: 29%; }
.h30 { height: 30%; }
.h31 { height: 31%; }
.h32 { height: 32%; }
.h33 { height: 33%; }
.h34 { height: 34%; }
.h35 { height: 35%; }
.h36 { height: 36%; }
.h37 { height: 37%; }
.h38 { height: 38%; }
.h39 { height: 39%; }
.h40 { height: 40%; }
.h41 { height: 41%; }
.h42 { height: 42%; }
.h43 { height: 43%; }
.h44 { height: 44%; }
.h45 { height: 45%; }
.h46 { height: 46%; }
.h47 { height: 47%; }
.h48 { height: 48%; }
.h49 { height: 49%; }
.h50 { height: 50%; }
.h51 { height: 51%; }
.h52 { height: 52%; }
.h53 { height: 53%; }
.h54 { height: 54%; }
.h55 { height: 55%; }
.h56 { height: 56%; }
.h57 { height: 57%; }
.h58 { height: 58%; }
.h59 { height: 59%; }
.h60 { height: 60%; }
.h61 { height: 61%; }
.h62 { height: 62%; }
.h63 { height: 63%; }
.h64 { height: 64%; }
.h65 { height: 65%; }
.h66 { height: 66%; }
.h67 { height: 67%; }
.h68 { height: 68%; }
.h69 { height: 69%; }
.h70 { height: 70%; }
.h71 { height: 71%; }
.h72 { height: 72%; }
.h73 { height: 73%; }
.h74 { height: 74%; }
.h75 { height: 75%; }
.h76 { height: 76%; }
.h77 { height: 77%; }
.h78 { height: 78%; }
.h79 { height: 79%; }
.h80 { height: 80%; }
.h81 { height: 81%; }
.h82 { height: 82%; }
.h83 { height: 83%; }
.h84 { height: 84%; }
.h85 { height: 85%; }
.h86 { height: 86%; }
.h87 { height: 87%; }
.h88 { height: 88%; }
.h89 { height: 89%; }
.h90 { height: 90%; }
.h91 { height: 91%; }
.h92 { height: 92%; }
.h93 { height: 93%; }
.h94 { height: 94%; }
.h95 { height: 95%; }
.h96 { height: 96%; }
.h97 { height: 97%; }
.h98 { height: 98%; }
.h99 { height: 99%; }

/* Height pixel classes (H) */
.H1 { height: 1px; }
.H2 { height: 2px; }
.H3 { height: 3px; }
.H4 { height: 4px; }
.H5 { height: 5px; }
.H6 { height: 6px; }
.H7 { height: 7px; }
.H8 { height: 8px; }
.H9 { height: 9px; }
.H10 { height: 10px; }
.H11 { height: 11px; }
.H12 { height: 12px; }
.H13 { height: 13px; }
.H14 { height: 14px; }
.H15 { height: 15px; }
.H16 { height: 16px; }
.H17 { height: 17px; }
.H18 { height: 18px; }
.H19 { height: 19px; }
.H20 { height: 20px; }
.H21 { height: 21px; }
.H22 { height: 22px; }
.H23 { height: 23px; }
.H24 { height: 24px; }
.H25 { height: 25px; }
.H26 { height: 26px; }
.H27 { height: 27px; }
.H28 { height: 28px; }
.H29 { height: 29px; }
.H30 { height: 30px; }
.H31 { height: 31px; }
.H32 { height: 32px; }
.H33 { height: 33px; }
.H34 { height: 34px; }
.H35 { height: 35px; }
.H36 { height: 36px; }
.H37 { height: 37px; }
.H38 { height: 38px; }
.H39 { height: 39px; }
.H40 { height: 40px; }
.H41 { height: 41px; }
.H42 { height: 42px; }
.H43 { height: 43px; }
.H44 { height: 44px; }
.H45 { height: 45px; }
.H46 { height: 46px; }
.H47 { height: 47px; }
.H48 { height: 48px; }
.H49 { height: 49px; }
.H50 { height: 50px; }
.H51 { height: 51px; }
.H52 { height: 52px; }
.H53 { height: 53px; }
.H54 { height: 54px; }
.H55 { height: 55px; }
.H56 { height: 5
